.bashrc.d/local_alias.bash

#Ignore logs
**/logs
*.log
*.swp
a.txt
.gitsecret/keys/random_seed
!*.secret
backup-*

# Ignore folders
extras/
oldfiles/
old-files/

# Machine-specific app lists (optional)
.install_apps.inc.local