[submodule "extras/bat"]
	path = extras/bat
	url = git@github.com:sharkdp/bat.git
[submodule "extras/.tmux-git"]
	path = extras/.tmux-git
	url = git://github.com/drmad/tmux-git.git
[submodule "extras/.tmux-gitbar"]
	path = extras/.tmux-gitbar
	url = git://github.com/arl/tmux-gitbar